{% extends "base.html" %}

{% block body %}
<a href="/project-list/">Вернуться к списку</a>
    <h1 class="display-6">{{object.name}}</h1>
    <p class="lead">
        {{object.project.name}}
      </p>
      <a href="/project-update/{{object.id}}/">Редактировать</a>
    <p class="lead">
        Создал: @{{object.user_create.login}} Создано: {{object.date_create}}
      </p>
      {% if object.user_update %}
        <p class="lead">
            Обновил: @{{object.user_update.login}} Создано: {{object.date_update}}
        </p>
      {% endif %}
    <div class="bd-example-snippet bd-code-snippet"><p>{{object.body}}</p></div>
{% endblock  %}
